@import "./../../common/constants";

.registration {
    padding: 2rem 0 3rem;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 1rem 0 2rem;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 2rem 0 3rem;
    }

    &__form {
        max-width: 600px;
        margin: 0 auto;
    }

}

.registration-form {

    //border: 1px solid $GRAY_DARK;
    padding: 2rem 4rem;
    background: $DARK_2;

    button{
        margin-top: 2rem;
    }

    &__command {
        margin-top: 2rem;
        display: none;
        animation: show-tab .4s;

        &_active {
            display: block;
        }
    }

    &__group {
        margin: 1.5rem 0;
        position: relative;

        &_is-group {

        }

        &_center {
            text-align: center;
        }

        &_select {
            &:after {
                content: '\27A4';
                width: 36px;
                height: 36px;
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(90deg);
                color: $GRAY_DARK;
                z-index: 1;
            }
        }
    }

    &__group-label {
        color: $WHITE;
        display: block;
        font-size: 12px;
        margin-bottom: .25rem;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__group-input {
        padding: .5rem;
        font-size: 16px;
        width: 100%;
        color: $DARK_LIGHT;
        font-weight: 500;
        font-family: 'Exo 2', sans-serif;
        border-radius: 0;

        &:focus {
            outline-color: $ORANGE;
        }

        &::placeholder {
            color: rgba($GRAY_DARK, .8);
            font-size: 14px;
        }
    }

    &__group-select {
        position: relative;
        z-index: 1;
        -webkit-appearance: none;
        border-radius: 0;
        padding: .5rem 2rem .5rem .5rem;
    }

    &__group-submit {
        padding: .75rem 2rem;

        background: $RRED;
        border: none;
        color: $WHITE;
        font-size: 16px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        transition: .4s;
        cursor: pointer;

        &_tab {
            text-align: center;
            width: 50%;
            display: inline-block;
            padding: .5rem 1rem;
            background: $GRAY_DARK;
            font-size: 13px;
        }

        &:hover {
            background: $RRED_HOVER;
        }

        &_active {
            background: $RRED;
        }

        &[disabled="disabled"] {
            background: $GRAY_DARK !important;
            cursor: not-allowed;
        }

    }

    &__group-sex {
        display: flex;
    }

    &__group-sex-item {
        margin-right: 2rem;
        display: flex;
        align-items: center;

        .registration-form__group-label {
            margin-bottom: 0
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__command-select {
        display: none;
        animation: show-tab .4s;

        &_active {
            display: block;
        }
    }

}

@keyframes show-tab {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}