@import "./../../common/constants";

.single {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 90px 40px 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: map_get($MEDIA, SM)) {
        flex: 1 0 33.333%;
        max-width: 33.333%;
    }

    &:hover {
        &:after {
            background-color: transparent;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($DARK, .4);
        z-index: 0;
        transition: .6s;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        margin: 1rem 0;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: $WHITE;

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 20px;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            font-size: 30px;
        }
    }

    &__from {
        color: $WHITE;
        display: flex;
    }

    &__by {
        margin: 0 .25rem;
    }
}

.single-list {
    display: flex;
    flex-direction: column;
    max-width: initial;
    margin: 2rem -1rem;

    @media (min-width: map_get($MEDIA, SM)) {
        flex-direction: row;
        margin: 2rem 0;
        max-width: 100%;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        margin: 3rem 0;
    }
}

.single-big {
    background-color: $DARK_3;

    &__content-image{
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 20px 15px;
        border-bottom: 6px solid $WHITE;
    }
}
