@import "./../../common/constants";

.categories {
    display: flex;
    position: relative;
    z-index: 2;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 1rem 0;
        justify-content: center;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        justify-content: flex-end;
    }

    &__item {

        text-align: center;
        padding: 0 1rem 1rem;
        width: initial;

        @media (min-width: map_get($MEDIA, SM)) {
            padding: 0 1.5rem;
            border-right: 1px solid $WHITE;
            width: initial;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            padding: 0 2rem;
        }

        &:last-child {
            border-right: none;

            @media (min-width: map_get($MEDIA, MD)) {
                padding-right: 0;
            }

        }

        a {
            position: relative;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            font-family: 'Exo 2', sans-serif;
            color: $WHITE;
            text-transform: uppercase;

            @media (min-width: map_get($MEDIA, SM)) {
                color: $WHITE;
                transition: all .4s;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -1rem;
                height: 5px;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                background-color: $WHITE;
                transition: all .4s;

                //@media (min-width: map_get($MEDIA, MD)) {
                //    bottom: -.5rem;
                //}
            }

        }

        &:hover, &_active {
            a {
                &:after {
                    width: 100%;
                }
            }

        }

    }
}

.categories-container {
    max-width: initial;
    margin-left: -1rem;
    margin-right: -1rem;

    @media (min-width: map_get($MEDIA, SM)) {
        max-width: 100%;
        margin-left: initial;
        margin-right: initial;
    }
}
