mixin categories()
    .categories-container.swiper-container
        ul.categories.swiper-wrapper
            li.categories__item.swiper-slide
                a(href="#") Положение
            li.categories__item.swiper-slide.categories__item_active(data-active-menu="1")
                a(href="#") Кубок
            li.categories__item.swiper-slide
                a(href="#") Гонки
            li.categories__item.swiper-slide
                a(href="#") Медиа