@import "./../../common/constants";

.results {

    &__item-wrapper {
        overflow      : auto;
        margin-bottom : 2rem;
    }

    &__item {
        max-width : initial;
        height    : 400px;
        width     : auto;
        display   : block;

        @include sm {
            max-width : 100%;
            width     : 100%;
            height    : auto;
        }
    }
}
