@import "./../../common/constants";

.results {

    &__item-wrapper {
        overflow      : auto;
        margin-bottom : 2rem;
        max-width     : initial;
        margin-left   : -1.5rem;
        margin-right  : -1.5rem;

        @include sm {
            margin-left  : initial;
            margin-right : initial;
            max-width    : 100%;
            overflow     : initial;
        }
    }

    &__item {
        max-width : initial;
        height    : 400px;
        width     : auto;
        display   : block;

        @include sm {
            max-width : 100%;
            width     : 100%;
            height    : auto;
        }
    }
}
