@import "./../../common/constants";

.page {

    padding: 2rem 0 3rem;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 1rem 0;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 2rem 0;
    }

    &__inner {

        max-width: initial;
        margin-left: -1rem;
        margin-right: -1rem;

        @media (min-width: map_get($MEDIA, MD)) {
            padding: 1rem 0;
            margin-left: initial;
            margin-right: initial;
        }

        .content {
            background-color: $DARK_3;
            color: $WHITE;
            padding: 2rem 1rem;

            @media (min-width: map_get($MEDIA, SM)) {
                padding: 2rem 1rem;
                margin-left: initial;
                margin-right: initial;
            }

            @media (min-width: map_get($MEDIA, MD)) {
                padding: 2rem;
            }

            @media (min-width: map_get($MEDIA, LG)) {
                padding: 3rem;
            }

        }
    }
}