mixin product-types()
    ul.product-types
        li.product-types__item.product-types__item_active
            a(href="#") Броши
        li.product-types__item
            a(href="#") Свечи
        li.product-types__item
            a(href="#") Статуэтки
        li.product-types__item
            a(href="#") Копилки
        li.product-types__item
            a(href="#") Empty
        li.product-types__item
            a(href="#") Empty
        li.product-types__item
            a(href="#") Empty
        li.product-types__item
            a(href="#") Empty
        li.product-types__item
            a(href="#") Empty
        li.product-types__item
            a(href="#") Empty