@import "./../../common/constants";

.product-types {

    height: calc(100% - 38px);
    overflow-y: scroll;

    @media (min-width: map_get($MEDIA, SM)) {
        height: initial;
        overflow-y: initial;
    }

    &__item {
        padding: 1rem 0;
        border-bottom: 1px solid $VIOL_LIGHT;

        @media (min-width: map_get($MEDIA, SM)) {
            border-bottom: 1px solid $GRAY_100;
        }

        &:first-child {
            padding: 1rem 0;
            border-top: 1px solid $VIOL_LIGHT;
            @media (min-width: map_get($MEDIA, SM)) {
                border-top: none;
                padding: 0 0 1rem;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        a {
            line-height: 19px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $WHITE;
            transition: all .6s;

            @media (min-width: map_get($MEDIA, SM)) {
                color: $GRAY_DARK;
            }

            &:hover {
                @media (min-width: map_get($MEDIA, SM)) {
                    color: $VIOL_LIGHT;
                }
            }


        }

        &_active {
            a {
                color: $VIOL_LIGHT;
            }
        }
    }
}