mixin _header-top()
    header.header-top
        .container
            .header-top__inner
                .header-top__menu
                    a.header-top__menu-button
                        span
                        span
                        span
                    +_menu('menu_gonka-top')
                .header-top__langs
                    +_langs()
                .header-top__cart
                    //+shopping-cart(false,'100.00')
                .header-bottom__profile
                    +profile()
                .header-top__search
                    a.header-top__search-button
                        i.fas.fa-search
                    .header-top__search_mobile_fixed
                        +_search('search_gonka')