mixin reccomended(text, paralax, isMain)
    .reccomended
        +subtitle("Рекомендуемые товары")
        ul.reccomended__list
            li.reccomended__item
                +product('Собака', false, 75.99)
            li.reccomended__item
                +product('Кот', false, 75.99)

