mixin _header-bottom(isMain)
    header.header-bottom
        .container
            .header-bottom__inner
                .header-bottom__logo
                    +_logo(require('./../images/BettaWT.svg'), isMain)
                .header-bottom__menu
                    .header-bottom__registration
                        a.header-bottom__registration-link(href="#")
                            img.header-bottom__registration-image(src=require('./../images/registration.svg'))
                            span.header-bottom__registration-title.header-bottom__registration-title_no-mb Регистрация
                        .header-bottom__time(href="#")
                            img.header-bottom__registration-image(src=require('./../images/time.svg'))
                            span.header-bottom__registration-title.header-bottom__registration-time.header-bottom__registration-title_no-mb(data-time="1555632000000") Осталось...
                    +categories()
        marquee(class='header-bottom__line' , scrollamount="15") Бегущая строка cлева направо



