mixin _header-bottom(isMain)
    header.header-bottom
        .container
            .header-bottom__inner
                .header-bottom__logo
                    +_logo(require('./../images/logo.svg'), isMain)
                .header-bottom__menu
                    +categories()
    - if(!isMain)
        marquee(class='header-bottom__line' , scrollamount="15") Бегущая строка cлева направо


