mixin header(isMain)
    - var mainMod = isMain ? 'header_main' : '';
    header(class=`header`)
        +_header-top()
        +_header-bottom()
        - if(isMain)
             .header__slider
                 +main-slider()
