mixin header(isMain)
    - var mainMod = isMain ? 'header_main' : '';
    header(class=`header ${mainMod}`)
        +_header-top()
        +_header-bottom(isMain)
        - if(isMain)
             .header__slider
                 +main-slider()
