@import "./../../common/constants";

.header {
    position: relative;
    &_main {

        .header-top {
            background-color: rgba($DARK, 0);
        }

        .categories {
            background-color: rgba($DARK, 0);
        }

        .header-bottom {
            background-color: transparent;
        }

        .header-bottom__logo-icon{
            height: 80px;
        }

        .header-top__inner {
            padding: 1rem 0;
        }
    }

    &__slider {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    &__categories{
        background-color: $RRED;
    }
}