@import "./../../common/constants";

.top-header {
    background-color: $DARK;
    padding: 12px 0;

    &__inner {
        display: flex;

        flex-direction: column;

        @media (min-width: map_get($MEDIA, SM)) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 8px;
        color: $WHITE;

        @media (min-width: map_get($MEDIA, SM)) {
            margin-left: 1.5rem;
            margin-bottom: 0;
        }

        i {
            font-size: 14px;
            color: $RED;
            margin-right: .5rem;
        }
    }

    &__contacts {
        border-bottom: 1px solid rgba($WHITE, .1);
        display: flex;
        flex-direction: column;
        @media (min-width: map_get($MEDIA, SM)) {
            border-bottom: none;
            flex-direction: row;
            align-items: center;
        }
    }

    &__search {
        padding-top: 12px;
        display: flex;

        .search {
            flex: 1 0 auto;
            order: 1;

            @media (min-width: map_get($MEDIA, SM)) {
                flex: initial;
                order: initial;
            }
        }

        @media (min-width: map_get($MEDIA, SM)) {
            border-bottom: none;
            padding-top: 0;

        }
    }

    &__basket {
        position: relative;
        order: 2;
        margin-right:.75rem;
        margin-left:2rem;

        @media (min-width: map_get($MEDIA, SM)) {
            order: initial;
            margin-right: 2.5rem;
            margin-left:initial;
        }

        i {
            font-size: 16px;
            color: $WHITE;
        }
    }

    &__basket-count {
        border-radius: 50%;
        position: absolute;
        top: -4px;
        font-size: 9px;
        line-height: 9px;
        font-weight: bold;
        right: -14px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $WHITE;
        background-color: $RED;
    }

    &__langs {
        position: relative;
        margin-right: 2rem;
    }

    &__lang-current {
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: $WHITE;
        padding: 4px 4px 4px 0;
        cursor: pointer;
        display: inline-block;

        &:hover {
            i {
                transform: rotate(-180deg);
            }

            & .top-header__langs-list {
                display: block;
            }
        }

        i {
            transition: all .4s;
            color: $WHITE;
            margin-left: 4px;
        }

    }

    &__langs-list {
        display: none;
        position: absolute;
        animation: show-menu .6s;
        opacity: 0;
        animation-fill-mode: forwards;
        top: 100%;
        left: -50%;
        max-width: initial;
        padding: .5rem 1rem;
        background-color: $GRAY;
        box-shadow: 0 2px 4px $GRAY_LIGHT;
    }

    &__lang {
        padding: .5rem;
        border-bottom: 1px solid $GRAY_LIGHT;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: $WHITE;
            transition: all .6s;

            &:hover {
                color: $RED;
            }
        }
    }
}

@keyframes show-menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}