mixin top-header()
    .top-header
        .container
            .top-header__inner
                .top-header__contacts
                    a.top-header__info.top-header__info_phone(href="tel:1-555-644-5566")
                        i.fas.fa-mobile-alt
                        | 1-555-644-5566
                    span.top-header__info.top-header__info_location
                        i.fas.fa-map-marker-alt
                        | Studio City, CA 91604
                .top-header__search
                    .top-header__langs
                        span.top-header__lang-current
                            span.top-header__lang-value(data-current-lang="ru") RU
                            i.fas.fa-angle-down
                            ul.top-header__langs-list
                                li.top-header__lang
                                    a(href="#" , data-lang="ru") RU
                                li.top-header__lang
                                    a(href="#" , data-lang="en") EN
                    a.top-header__basket(href="#")
                        i.fas.fa-shopping-cart
                        span.top-header__basket-count 10
                    +search()