@import "./../../common/constants";

.profile{
    display: flex;
    align-items: center;

    &:hover{
        span {
            color: $WHITE;
        }
    }

    &__icon{
        margin-right: .5rem;
        height: 24px;

        @media (min-width: map_get($MEDIA, SM)) {
            height: 20px;
        }
    }

    &__link{
        color: $WHITE;
        font-size: 14px;
        font-weight: 500;
        transition: color .4s;
        max-width: 150px;
        overflow: hidden;
        display: none;

        @media (min-width: map_get($MEDIA, SM)) {
            display: block;
        }
    }
}