mixin profile(isValid)
    a(class=`profile`, href="#")
        img.profile__icon(src=require('./../images/profile.svg'), alt="profile")
        - if(isValid)
            .profile__valid
                span.profile__link.profile__link_user Александр
        - else
            .profile__default
                span.profile__link.profile__link_login Личный кабинет
