mixin bottom-header()
    .bottom-header
        .container
            .bottom-header__inner
                a.bottom-header__logo-link
                    img.bottom-header__logo(src=require('./../images/logo.svg'))
                //+menu()
                //+socials()