mixin partners()
    .partners
        .partners__item
            img.partners__item-image(src="http://via.placeholder.com/250x220")
        .partners__item
            img.partners__item-image(src="http://via.placeholder.com/250x220")
        .partners__item
            img.partners__item-image(src="http://via.placeholder.com/250x220")
        .partners__item
            img.partners__item-image(src="http://via.placeholder.com/250x220")
        .partners__item
            img.partners__item-image(src="http://via.placeholder.com/250x220")
