mixin content(mod, title)
    main(class=`content ${mod}`)
        .content__inner
            h2= title
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Alias deserunt dignissimos excepturi similique vel.
                | Amet assumenda consequuntur cum eveniet fugiat natus omnis soluta voluptatum?
                | Dicta libero quos sunt. Praesentium, veniam.