@import "./../../common/constants";

.content {

    &_white{
        color: #fff;
    }

    &_gonka {

        margin-bottom: 1rem;
        color: #fff;

        .content__inner {
            background-color: #31343c;
            padding: 1rem;
            max-width: none;
            margin-left: -1rem;
            margin-right: -1rem;

            @media (min-width: map_get($MEDIA, MD)) {
                padding: 40px;
                margin-left: 0;
                margin-right: 0;
            }

            @media (min-width: map_get($MEDIA, LG)) {
                padding: 60px;
            }
        }

        @media (min-width: map_get($MEDIA, MD)) {
            margin-bottom: 2rem;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            margin-bottom: 3rem;
        }
    }

    h1 {
        font-size: 2em;
        margin-bottom: .67em
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: .75em
    }
    h3 {
        font-size: 1.17em;
        margin-bottom: .83em
    }
    h5 {
        font-size: .83em;
        margin-bottom: 1.5em
    }
    h6 {
        font-size: .75em;
        margin-bottom: 1.67em
    }
    h1, h2, h3, h4,
    h5, h6 {
        font-weight: bolder
    }

    p {
        font-family: 'Lato', sans-serif;
        display: block;
        margin-bottom: 1em;
    }

    ul {
        font-family: 'Lato', sans-serif;
        display: block;
        list-style-type: disc;
        margin-bottom: 1em;
        padding-left: 40px;
    }

    ol {
        font-family: 'Lato', sans-serif;
        display: block;
        list-style-type: decimal;
        margin-bottom: 1em;
        padding-left: 40px;
    }
}