//common Components
include ./components/_button/button
include ./components/_menu/menu
include ./components/_header-top/header-top
include ./components/_header-bottom/header-bottom
include ./components/_langs/langs
include ./components/_socials/socials
include ./components/_search/search
include components/_footer/footer
include components/_title/title
include components/_table/table
include components/_logo/logo


//custom Components
include ./pug-mixins/_banner
include ./pug-mixins/_mastak
include ./pug-mixins/_subtitle
include ./pug-mixins/_product-sale
include ./pug-mixins/_product
include ./components/header/header
include ./components/profile/profile
include ./components/menu/menu
include ./components/categories/categories
include ./components/shopping-cart/shopping-cart
include ./components/main-slider/main-slider
include ./components/breadcrumbs/breadcrumbs
include ./components/category/category
include ./components/product-list/product-list
include ./components/pagination/pagination
include ./components/product-types/product-types
include ./components/reccomended/reccomended
include ./components/_single/single

include ./components/content/content

include ./components/gonka/gonka
include ./components/_accordion-mixed/accordion-mixed
include ./components/page/page
include ./components/faq/faq


