/**
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
 */
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700,900|Montserrat:400,500,600,700,800,900&subset=cyrillic,cyrillic-ext');
@import './../../node_modules/swiper/dist/css/swiper.min.css';
@import '~@fortawesome/fontawesome-free/css/all';
@import "constants";
@import "reset";

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $DARK;
}

a {
    color: $RRED;
}

.d-none {
    display: none;
}

.container {
    padding: 0 1rem;

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 0 58px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.alignright{
    float: right;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.alignleft{
    float: left;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.account-content .woocommerce {
    display: flex;
    flex-direction: column;

    @include sm {
        flex-direction: row;
    }

    .woocommerce-MyAccount-navigation{
        flex: 1 0 100%;
        margin-bottom: 1rem;

        @include sm {
            flex: 0 0 auto;
            margin-bottom: 0;
        }

        li{
            &:after{
                margin-left: 1rem;
            }
        }
    }

    .woocommerce-MyAccount-content{
        flex: 1;
    }




    ul {
        margin: 0;
        padding: 0;

        @include sm {
            padding: 0 2rem 0 0;
        }
    }

    .my-profile{
        color: $WHITE;
        font-size: 14px;
        &__group{
            display: flex;
            padding: .5rem 0;

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                padding-bottom: 0;
            }
        }

        &__title{
            margin-right: 1rem;
            text-transform: uppercase;
            color: $GRAY_100;
            font-weight: bold;
            flex: 0 0 auto;
        }

        &__value{
            &_full-width{
                flex: 1 0 100%;
            }
        }
    }
}

.woocommerce {

    input, textarea {
        padding: .25rem;
        font-size: 14px;
        border-radius: 6px;
        border: 1px solid $GRAY_100;
        color: $GRAY_DARK;
        margin: .25rem 0 !important;
        width: 100%;
    }

    .woocommerce-Button, .checkout-button, [name="update_cart"] {

        &:before, &:after {
            content: none;
        }

        background: $ORANGE !important;
        color: $WHITE !important;
        font-weight: normal !important;

        &:hover {
            background: $RED !important;
        }
    }

    .woocommerce-MyAccount-navigation-link {
        padding: .5rem 0;
        border-bottom: 1px solid $GRAY_100;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
            color: $GRAY_DARK;
            font-family: "Font Awesome 5 Free", sans-serif;
            font-weight: 600;
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        a {
            color: $GRAY_DARK;
            text-transform: uppercase;
            font-size: 14px;
        }

        &.is-active {

            &:after {
                color: $RED;
            }

            a {
                font-weight: bold;
                color: $RED;
            }
        }

        &--profile {
            &:after {
                content: '\f3fd';

            }
        }

        &--my-commands {
            &:after {
                content: '\f0c0';

            }
        }

        &--edit-address {
            &:after {
                content: '\f2b9';
            }
        }

        &--edit-account {
            &:after {
                content: '\f406';
            }
        }

        &--customer-logout {
            &:after {
                content: '\f2f5';
            }
        }
    }

    .woocommerce-MyAccount-content {
        display: flex;
        flex-direction: column;

        @include md {
            flex-direction: row;
        }

        ul {
            padding-left: 0;
        }
    }
}