//COLOR:
$BLACK: #000000;
$BLACK_05: rgba(#000000, .5);
$BLACK_04: rgba(#000000, .4);
$WHITE: #FFFFFF;
$WHITE_08: rgba(#FFFFFF, .8);
$WHITE_05: rgba(#FFFFFF, .5);
$WHITE_04: rgba(#FFFFFF, .4);
$WHITE_03: rgba(#FFFFFF, .3);
$GRAY: #e8e8e8;
$GRAY_LIGHT: #e3e3e3;
$GRAY_100: #cbcbcb;
$GRAY_DARK: #777777;
$RED: #ce4839;
$RED_LIGHT: #e97f6b;
$ORANGE: #f19104;
$VIOL: #28055b;
$VIOL_LIGHT: #8240be;
$VIOL_DARK: #151550;
$GREEN: #60b800;
$BLUE:#3023ae;
$BLUE:#3023ae;
$PURPLE:#c86dd7;

// Gonka Colors
$DARK: #181a1f;
$DARK_2: #23262c;
$DARK_3: #31343c;
$DARK_LIGHT: rgb(73,76,82);
$DARK-10: #D8D8D8;
$RRED: #e8471e;
$RRED_HOVER: #b43a1a;

$BLUE-LIGHT: blue;
$BLUE-DARK: orange;
// End Gonka Colors

//SIZE:
$MAX-WIDTH: 1200px;

//MEDIA:
$MEDIA: (
        SM:768px,
        MD:1024px,
        LG:1280px,
        XL:1366px,
        XLL:1440px,
        HD:1920px,
        XHD:2560px
);

//MIXINS
@mixin button {
    text-decoration: none;
    border-radius: 0;
    padding: .7rem 1rem;
    background-color: $RRED;
    text-transform: uppercase;
    color: $WHITE;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;

    &:hover {
        background-color: $RRED_HOVER;
    }

    &:active {
        background-color: $RRED_HOVER;
    }
}

@mixin title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: $WHITE;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 1.5rem 0 .75rem;

    @media (min-width: map_get($MEDIA, MD)) {
        font-size: 30px;
        margin: 2.5rem 0 1.5rem;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        font-size: 30px;
        margin: 3rem 0 2rem;
    }

    &:after {
        content: '';
        display: block;
        width: 135px;
        height: 6px;
        margin: .4rem auto 0;
        background-color: $RRED;
    }
}

@mixin sm {
    @media (min-width: map_get($MEDIA, SM)){
        @content;
    }
}

@mixin md {
    @media (min-width: map_get($MEDIA, MD)){
        @content;
    }
}

@mixin lg {
    @media (min-width: map_get($MEDIA, LG)){
        @content;
    }
}

@mixin hd {
    @media (min-width: map_get($MEDIA, HD)){
        @content;
    }
}

@mixin btn(){
    padding: .75rem 2rem;
    background: $GRAY_DARK;
    border: none;
    color: $WHITE;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .4s;
    cursor: pointer;

    &:hover {
        background: $RRED_HOVER;
    }

    &_active {
        background: $RRED;
    }
}