mixin product-list()
    ul.product-list
        li.product-list__item
            +product('Кот', 1, 75.99, false)
        li.product-list__item
            +product('Собака', false, 75.99)
        li.product-list__item
            +product('Деревянные коники',false, 75.99)
        li.product-list__item
            +product('Деревянные коники',false, 75.99)
        li.product-list__item
            +product('Деревянные коники',false, '18.00')
        li.product-list__item
            +product('Собака',false, 75.99)
        li.product-list__item
            +product('Ваза', 2, 75.99, false)
        li.product-list__item
            +product('Деревянные коники', 1, 75.99)
        li.product-list__item
            +product('Деревянные коники', 2, 75.99, '100.00')
        li.product-list__item
            +product('Деревянные коники',false, 75.99)
        li.product-list__item
            +product('Собака', false, 75.99)
        li.product-list__item
            +product('Деревянные коники',false, '18.00')