@import "./../../common/constants";

.product-list {
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    @media (min-width: map_get($MEDIA, MD)) {
        margin: 0 -26px;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        margin: 0 -1rem;
    }

    &__item {
        max-width: 100%;
        flex: 1 0 100%;
        padding: 0 1rem 1rem;

        @media (min-width: map_get($MEDIA, SM)) {
            max-width: 50%;
            flex: 1 0 50%;
            padding: 0 1rem 2rem;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            padding: 0 26px 2rem;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            max-width: 33.333%;
            flex: 1 0 33.333%;
            padding: 0 1rem 2rem;
        }
    }
}