@import "./../../common/constants";

.gonka{

    padding: 2rem 0 3rem;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 1rem 0;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 2rem 0;
    }

    &__inner {
        max-width: initial;
        margin-left: -1rem;
        margin-right: -1rem;

        @media (min-width: map_get($MEDIA, MD)) {
            padding: 1rem 0;
            margin-left: initial;
            margin-right: initial;
        }

    }
}

.map-zooming{
    margin: 0 auto;
    max-width: 600px;
}

.map-zoom {
    max-width: none;
    display: inline-block;
    position: relative;
    width: 100%;
}

.map-zoom:after {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(./../../images/icon.png);
}

.map-zoom__image {
    display: block;
    width: 100%;
}

.map-zoom__image::selection {
    background-color: transparent;
}

.map-zoom__title {
    position: absolute;
    top: 8px;
    right: 28px;
    color: #ccc;
    font: bold 13px/1 sans-serif;
}