mixin gonki()
    .gonki
        .container
            +breadcrumbs('Календарь')
            .gonki__inner
                +_title("Календарь", 'h1')
                .gonki__tabs
                    a.gonki__tabs-item.gonki__tabs-item_early.gonki__tabs-item_active(href="#") Предстоящие
                    a.gonki__tabs-item.gonki__tabs-item_archive(href="#") Архив
                ul.gonki__list.gonki__list_early.gonki__list_active
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 1
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda consequatur dolores, error facilis hic, itaque laboriosam libero nulla odio pariatur ratione reprehenderit, unde veritatis voluptatum? Nesciunt quae quam sed?
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 2
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque delectus, deserunt eius eligendi error expedita itaque neque nobis nostrum, officia provident repellat sapiente sequi sit soluta veniam voluptas voluptates!
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 3
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium animi enim eos error facere illo inventore ipsum, iusto nihil odit pariatur qui quo quos, rem repellendus tempora voluptas, voluptatem.
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 4
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi doloremque enim eos esse et excepturi exercitationem illum iusto, laboriosam minima minus numquam odit pariatur praesentium quas quia vel, velit vitae?
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                ul.gonki__list.gonki__list_archive
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 5
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur aut autem commodi dicta dolorem enim itaque iusto minima nobis officia quod rem sint tempore velit, veniam voluptatibus? Praesentium, quaerat!
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 6
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur deserunt ea earum eveniet ex exercitationem expedita inventore laborum laudantium natus nostrum officia, omnis recusandae rem repellat repudiandae sint tenetur.
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 7
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem commodi consequuntur corporis deleniti, distinctio ex iste molestiae odio veniam vero vitae. Asperiores autem consectetur deleniti ipsa laudantium, non officia?
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее
                    li.gonki__item
                        .gonka-item
                            img.gonka-item__img(src="http://via.placeholder.com/250x220", alt="gonka")
                            .gonka-item__content
                                h2.gonka-item__title Gonka 8
                                p.gonka-item__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi cumque doloribus veritatis voluptatum. Asperiores aut consequuntur dicta distinctio harum laboriosam magnam, minima nihil non perferendis ratione similique temporibus ullam?
                                footer.gonka-item__footer
                                    a.gonka-item__show-more(href="#", target="_blank") Подробнее