@import "./../../common/constants";

.breadcrumbs {
    margin: 0 0 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.4;
    font-family: Montserrat, sans-serif;
    color: $WHITE;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: map_get($MEDIA, MD)) {
        flex-direction: row;
        align-items: center;
    }

    &__title{
        display: inline-flex;
        padding-bottom: .25rem;
        padding-right: 1rem;
        border-bottom: 1px solid $WHITE;
        margin-bottom: .5rem;

        @media (min-width: map_get($MEDIA, MD)) {
            padding-bottom: 0;
            border-bottom: none;
            border-right: 1px solid $WHITE;
            font-size: 20px;
            margin-right: 2rem;
            padding-right: 2rem;
            margin-bottom: 0;
        }
    }

    &__item{
        &:after{
            content: '/';
            margin: 0 .5rem;
        }

        &:last-child{
            &:after{
                content: none;
            }
        }
    }

}