mixin breadcrumbs(title)
    .breadcrumbs
        h2.breadcrumbs__title= title
        .breadcrumbs__nav
            a.breadcrumbs__item.breadcrumbs__link(href="#") Home
            span.breadcrumbs__item= title