@import "./../../common/constants";

.banner {
    background: url('./../../images/bear.jpg') no-repeat 77%;
    background-size: auto 100%;
    padding: 20px 0;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: 30px 0;
        background: url('./../../images/bear.jpg') no-repeat 70%;
        background-size: auto 100%;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        padding: 40px 0 30px;
        background: url('./../../images/bear.jpg') no-repeat 50%;
        background-size: cover;
    }

    @media (min-width: map_get($MEDIA, LG)) {
        padding: 40px 0;
    }

    @media (min-width: map_get($MEDIA, HD)) {
        padding: 100px 0;
    }

    @media (min-width: map_get($MEDIA, XHD)) {
        padding: 200px 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        justify-content: space-between;
        align-items: center;

        @media (min-width: map_get($MEDIA, SM)) {
            min-height: initial;
            justify-content: initial;
            align-items: initial;
            max-width: 50%;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            max-width: 52%;
        }
    }

    &__title {
        color: $WHITE;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        max-width: 200px;
        margin: 0 auto;

        @media (min-width: map_get($MEDIA, SM)) {
            text-align: initial;
            line-height: 1.38;
            font-size: 40px;
            font-weight: 600;
            max-width: initial;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            font-size: 50px;
            font-weight: 600;
            line-height: 1.1;
        }
    }

    &__subtitle {
        display: none;

        @media (min-width: map_get($MEDIA, SM)) {
            display: block;
            color: $WHITE;
            font-size: 18px;
            padding: 30px 0;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            font-size: 24px;
            padding: 32px 0;
        }
    }

}