@import "./../../common/constants";

.category {

    margin: 3rem 0;

    &__row{
        margin: 0 -1rem;
        display: flex;
        flex-wrap: wrap;
        max-width: initial;
    }

    &__col{
        padding: 0 1rem;

        &:first-child{
            max-width: 100%;
            flex: 1 0 100%;

            @media (min-width: map_get($MEDIA, MD)) {
                max-width: 70%;
                flex: 1 0 70%;
            }
        }

        &:last-child{
            max-width: 100%;
            flex: 1 0 100%;

            @media (min-width: map_get($MEDIA, MD)) {
                max-width: 30%;
                flex: 1 0 30%;
            }
        }
    }
}