mixin pagination()
    .pagination
        a.pagination__link(href="#")
            i.fas.fa-angle-double-left
        a.pagination__link(href="#")
            i.fas.fa-angle-left
        a.pagination__link.pagination__link_active(href="#") 1
        a.pagination__link(href="#") 2
        a.pagination__link(href="#") 3
        a.pagination__link(href="#") 4
        a.pagination__link(href="#") 5
        a.pagination__link(href="#")
            i.fas.fa-angle-right
        a.pagination__link(href="#")
            i.fas.fa-angle-double-right
