mixin _socials(mod)
    div(class=`socials ${mod}`)
        a.socials__link(href="#", target="_blank")
            i.fab.fa-vk
        a.socials__link(href="#", target="_blank")
            i.fab.fa-facebook-f
        a.socials__link(href="#", target="_blank")
            i.fab.fa-linkedin-in