mixin shopping-cart()
    a(class=`shopping-cart`, href="#")
        .shopping-cart__basket
            img.shopping-cart__icon(src=require("./../images/icons/shopping-cart.svg"))
            span.shopping-cart__point 1
