mixin banner()
    .banner
        .container
            .banner__content
                h2.banner__title Лучшие условия по оплате и доставке
                p.banner__subtitle
                    | Подпишитесь на последние обновления и узнавайте о новинках и специальных предложениях первыми
                +button("Узнать больше")