mixin _table(mod)
    div(class=`table ${mod}`)
        table
            thead
                tr
                    th Место
                    th Рейтинг
                    th Имя
                    th Лучшее время
            tbody
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50
                tr
                    td( data-label="Место") 1
                    td( data-label="Рейтинг") 1590
                    td( data-label="Имя") Smash
                    td( data-label="Лучшее время") 03:25

                tr
                    td( data-label="Место") 2
                    td( data-label="Рейтинг") 1400
                    td( data-label="Имя") Misha_1990
                    td( data-label="Лучшее время") 03:50