@import "./../../common/constants";

.search {

    display: none;
    flex: 1 0 auto;

    @media (min-width: map_get($MEDIA, SM)) {
        display: flex;
    }

    &__input {
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding: 8px 1rem;
        flex: 0 0 auto;
        font-size: 16px;
        line-height: 16px;
        color: $WHITE;

        &::placeholder{
            color: $WHITE;
        }

        &:focus {
            outline: none;
        }
    }

    &__button {
        border: none;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 68px;
        transition: all .6s;
        cursor: pointer;


        &:focus {
            outline: none;
        }

    }

    &__icon{
        height: 22px;
    }
}