mixin search()
    form.search(action='/', method="get")
        input.search__input(type="text", placeholder="Поиск...")
        button.search__button(type="submit")
            img.search__icon(src=require('./../images/icons/search.svg'), alt="search")
